/* =====================================================
   SISTEMA PROFESIONAL DE INFORMES PERICIALES
===================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:16px;
}

body{
    background:#d9d9d9;
    font-family:"Times New Roman", serif;
    display:flex;
    justify-content:center;
    padding:30px;
}

#app{
    width:210mm;
}

.pagina{
    width:210mm;
    min-height:297mm;
    background:#ffffff;
    padding:25mm;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0,0,0,.20);
}
.portada{

    text-align:center;

    margin-top:30mm;

}

.portada h2{

    font-size:18pt;

    font-weight:bold;

    margin-bottom:25mm;

}

.portada h1{

    font-size:24pt;

    font-weight:bold;

    text-transform:uppercase;

}
.espacio{

    height:20mm;

}

.portada h3{

    margin-bottom:5mm;

    font-size:14pt;

    text-align:center;

}

.portada p{

    text-align:center;

    font-size:14pt;

    margin-bottom:10mm;

}
/*==========================================
ESTILOS DEL INFORME
==========================================*/

h1{

    font-size:20pt;

    font-weight:bold;

    margin-bottom:12mm;

}

h2{

    font-size:16pt;

    font-weight:bold;

    margin-bottom:8mm;

}

h3{

    font-size:14pt;

    font-weight:bold;

    margin-bottom:5mm;

}

p{

    font-size:12pt;

    line-height:1.8;

    text-align:justify;

    margin-bottom:5mm;

}

hr{

    margin:8mm 0;

    border:none;

    border-top:1px solid #000;

}
